/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: 3rem; /* Vertically center the text there */
  background-color:   rgb(29, 31, 29);
  color: white;
  font-size: 0.90rem;

}
@media only screen and (max-width: 600px) {
    body {
      /* background-color: rgb(230, 173, 182); */
      zoom: 1;
    }
}
img {
    height: auto;
    max-width: 100%;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;

}
.footer{
    text-align: center;
}

.title-modelo{
    font-size: 3ex;
    color: rgb(27, 27, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#logo{
    width:75rem;
}

.cajaimagen1200 img{
    width: 75rem;
}

.cajaimagen300 img{
    width: 8rem;
}

.cajaimagen600 img{
    width: 16rem;
}

.modelo-90,.modelo-180,.modelo-360{
    font-size: 2ex;
    color: rgb(4, 39, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,Georgia, 'Times New Roman', Times, serif;
}

/* Presenta el formato para el archivo json que se encuentra en el formulario fileupload.blade.php */
.formatojson{
    font-size: 0.75rem;
    color: tomato;
}
/* Titulo de formulario*/
.titulo{
    font-size: 1rem;
    background-color: burlywood;
}
  /* Subtitulo de formulario*/
  .subtitulo{
    font-size: 0.75rem;
  }
  /* Notas de formularios*/
  .nota{
    font-size: 0.50rem;
  }
/* Navbar usuario logueado */
  .username{
    font-size: .80rem;
  }

  /**
  *Vision360
  */
  .vision360{
    font-size: 1rem;
  }
  /* Titulo de formulario vision360*/
  .titulo360{
    font-size: 1rem;
    background-color: burlywood;
    font-weight: bold;
  }
  /* Titulo de formulario vision360*/
  .maintitulo360{
    font-size: 1rem;
    background-color: lightblue;
    font-weight: bold;
  }
  /* Subtitulo de formulario vision90*/
    .subtitulo90{
    font-size: 1rem;
    background-color: lightgreen;
    font-weight: bold;
  }
  /* Subtitulo de formulario vision180*/
  .subtitulo180{
    font-size: 1rem;
    background-color: greenyellow;
    font-weight: bold;
  }
  /* Subtitulo de formulario vision90*/
  .subtitulo360{
    font-size: 1rem;
    background-color: khaki;
    font-weight: bold;
  }

  /* Seleccion dinamica de competencias en formulario de creacion de modelos*/
  .tbody-modelo-seleccionado{
    font-size: 0.50rem;
    background-color: rgb(233, 240, 220);
   }
   /* Tablas */
   .table-table{
    font-size: 0.75rem;
   }
   /*Tablas Titulo de encabezado*/
   .table-thead{
    font-size: 0.75rem;
    background-color: yellowgreen;
   }
   /* Style de Layaout */
   .spellcheck{
    color:darkgreen;
    }

    .radio-checkeado,.radio-no-checkeado{
        margin-left: 2px;
    }

    .radio-checkeado{
    width: 1em;
    height: 1em;
    border-radius: 3ex;
    top: -2px;
    left: -3px;
    position: relative;
    background-color:green;
    content: '';
    visibility: visible;
    border: 1px solid white;
    display: inline-block;

    }


    .radio-no-checkeado{
    width: 1em;
    height: 1em;
    border-radius: 3ex;
    top: -2px;
    left: -3px;
    position: relative;
    background-color:orange;
    content: '';
    visibility: visible;
    border: 1px solid white;
    display: inline-block;

    }

    Input:Focus {
        Background-color: yellow;
    }
    input[type=text] {
        width: 100%;
        padding: 2px 10px;
        margin: 4px 0;
        box-sizing: border-box;
    }
    input[type=email] {
        width: 100%;
        padding: 2px 10px;
        margin: 4px 0;
        box-sizing: border-box;
    }
    /*Titulo de autenticacion de formulario login*/
    .title-auth{
        background-color: darkseagreen;
    }

    /*Layout Evaluado*/
    a .material-icons {
        color:chocolate;
    }
    .radio-checkeado, .radio-no-checkeado{
        font-size: 2.5ex;
    }
    .title-th-evaluador{
        background-color:rgb(4, 39, 48);
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1rem;
    }
    .title-th-competencia{
        background-color:rgb(133, 196, 248);
        color:black;

    }
    .table-evaluado{
        font-size: 0.75rem;

    }
    .thead-evaluado{
        background-color: mediumaquamarine;
    }

    .material-icons {
        font-size: 1rem;
    }
    .btn {
        font-size: 1rem;
    }

    /*Tablas lanzamiento por modelo competencias seleccionadas encabezado*/
    .table-thead-lanzarmodelo{
        font-size: 0.75rem;
        background: rgb(18, 161, 147);
    }
    .table-tbody-lanzarmodelo{
        font-size: 0.50rem;
        padding: 1px;
    }

    /*Descripcion de las preguntas de la evaluacion */
    .table-descripcion{
        font-size: 0.90rem;
    }
    .rango{
        font-size: 0.75rem;

    }
    .description{
        font-size: 1.25rem;
        background-color: rgb(177, 236, 177);
        color:black;
    }



    .table-preguntas{
        font-size: 1rem;
        background-color: rgb(168, 135, 222);
    }
    .tbody-preguntas{
        font-size: 0.50rem;
    }
    .table-competencias{
        font-size: 1rem;
        background-color: rgb(8, 8, 114);
        color:white;
    }
    .table-competencias-seleccionar{
        font-size: 0.50rem;
        background-color: rgb(3, 14, 17);
        color:white;
    }
    .tbody-competencias-seleccionar{
        font-size: 0.70rem;
    }
    .terminos-definicion{
        font-size: 0.50rem;
    }
    .table-modelos{
        font-size: 0.70rem;
        background-color:  rgb(105, 248, 179);
        color:white;
    }
    .btn{
        font-size: 0.75rem;
    }

    html {
        font-size: 1rem;
      }
